/* .main {
	display: flex;
} */
body {
	top: 0px;
	bottom: 0px;
	box-sizing: border-box;
}
.top-button,
.bottom-button {
	width: fit-content;
	background-color: aqua;
	border-radius: 50%;
	letter-spacing: 0.1rem;
	padding: 1rem;
}
.top {
	position: absolute;
	top: 0px;
	left: 0px;
}
.bottom {
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.main {
	width: 100%;
	height: 93vh;
}
.msg {
	width: fit-content;
	height: fit-content;
	margin: 4rem;
	/* border: 5px solid rgb(54, 46, 156); */
	padding: 1rem;
}
